* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body,
html {
  background: #2a5163;
}

#container {
  width: 100%;
  height: 90vh;
  display: flex;
  position: absolute;
}

.tabs {
  display: flex;
  flex-basis: 15%;
  background: #015247;
  background: teal;
  flex-direction: column;
  justify-content: center;
}

.content-box {
  display: flex;
  flex-basis: 84.5%;
  background: honeydew;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.tabs button {
  width: 100%;
  background: transparent;
  border: 0;
  text-align: left;
  display: flex;
  outline: none;
  padding: 15px 20%;
  font-size: 22px;
  font-weight: bold;
  color: white;
  /* text-transform: uppercase; */
  cursor: pointer;
}

.tabs button img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.tabs button:hover {
  background: rgb(216, 213, 213);
  color: #760;
}

#user_panel,
#catagories,
#posts {
  background: whitesmoke;
  display: none;
  max-height: 70vh;
  justify-content: center;
  width: 80vw;
  color: gray;
  box-shadow: 2px 8px 12px gray;
  overflow: scroll;
  border-radius: 10px;
}

#user_panel {
  display: flex;
}

#user_panel::-webkit-scrollbar,
#catagories::-webkit-scrollbar,
#posts::-webkit-scrollbar {
  width: 5px;
}

.addnew {
  position: absolute;
  color: green;
  cursor: pointer;
  left: 20%;
  top: 5%;
}
.addnew:hover {
  color: rgb(213, 7, 213);
}
.addnew a {
  color: green;
  text-decoration: none;
}
#catagoryTable,
#userTable,
#postTable {
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

/* table thead {
  position: initial;
} */

table thead th {
  padding: 10px 10px;
  background: rgb(118, 114, 114);
  color: #fff;
}

table tbody {
  background: #fff;
}

table tbody tr {
  line-height: 20px;
}
table tbody:nth-child(even) {
  background: rgb(234, 251, 247);
}

table tbody tr:hover {
  background: rgba(128, 128, 128, 0.139);
  border-radius: 10px;
  color: rgb(57, 57, 57);
}

table tbody tr td {
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  /* margin-right: 0px; */
}

table tbody tr td a img {
  height: 25px;
  box-sizing: unset;
  width: 17px;
  padding: 0px 15px;
  visibility: hidden;
  transition: 0.1s ease-out;
}

table tbody tr:hover > td a img {
  visibility: visible;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.userAdd-panel,
.catagoryAdd-panel,
.postAdd-panel {
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 10px;
  width: 25vw;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  /* background: rgb(177, 252, 177); */
  background: rgb(26, 26, 26);
  outline: 1px solid gray;
  outline: 2px solid greenyellow;
  box-shadow: 1px 9px 13px rgb(199 197 197);
}
.userAdd-panel p,
.catagoryAdd-panel p {
  color: white;
  border-bottom: orangered 4px solid;
  top: 10%;
  height: fit-content;
  width: fit-content;
  position: relative;
  font-weight: 600;
}
.userAdd-panel .axl-btn,
.catagoryAdd-panel .axl-btn {
  bottom: 20%;
}
.reset {
  display: flex;
  position: relative;
  margin: 5px 20px;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  left: 10px;
  justify-content: center;
  text-align: center;
}

.reset input {
  box-shadow: 0px 0px 4px gray;
  margin: 2px auto;
  padding: 0px 8px;
  display: block;
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  border-radius: 3px;
}
/* Deprecated Items */
#userEdit-panel,
#catagoryEdit-panel,
#postEdit-panel {
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  right: 10px;
  width: 25vw;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(26, 26, 26);
  outline: 2px solid greenyellow;
}
/* #userEdit-panel form,
#catagoryEdit-panel form,
#postEdit-panel form{

} */

#userEdit-panel input,
#catagoryEdit-panel input,
#postEdit-panel input {
  box-shadow: 0px 0px 4px gray;
  margin: 2px auto;
  padding: 0px 8px;
  display: block;
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  border-radius: 3px;
}
#userEdit-panel input:last-child,
#catagoryEdit-panel input:last-child,
#postEdit-panel input:last-child {
  background: green;
  margin: 15px auto;
  box-shadow: 0px 0px 0px;
  /* padding: 3px auto; */
  width: 7.5rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#userEdit-panel input:last-child:hover,
#catagoryEdit-panel input:last-child:hover {
  background: rgb(175, 239, 46);
  color: whitesmoke;
  box-shadow: 0px 0px 4px gold;
  font-weight: bold;
}
#userEdit-panel #role {
  color: #000;
  height: 2rem;
  width: 15rem;
}

/* .userEdit-panel .submitBtns {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
  top: 73%;
  left: 65%;
} */

/* .userDelete-dialogue,
.catagoryDelete-dialogue,
.postDelete-dialogue {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 35vw;
  color: rgb(249, 132, 89);
  border-radius: 8px;
  position: absolute;
  box-shadow: 2px 2px 8px #015247, -2px -2px 8px #015247;
  background: white;
} */

/* .userDelete-dialogue p,
.catagoryDelete-dialogue p,
.postDelete-dialogue p {
  font-family: monospace;
  font-weight: bolder;
  position: relative;
  font-size: larger;
  top: 5%;
  text-align: center;
  line-height: 25px;
} */

/* .userDelete-dialogue > div,
.catagoryDelete-dialogue > div,
.postDelete-dialogue > div {
  position: absolute;
  display: flex;
  height: fit-content;
  width: 100%;
  top: 75%;
  background: rgb(238, 238, 238);
  height: 30%;
  justify-content: space-between;
  border-top: 2px solid rgb(255, 94, 36);
  margin: 0 auto;
} */

/* Deprecated Items Last Here */
/* Auxiliaries */
.axl-btn {
  display: flex;
  position: relative;
  height: fit-content;
  justify-content: space-evenly;
  /* width: 15rem; */
}
.delCancel,
.delOk {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  background: #76ed7c;
  color: black;
  height: auto;
  width: auto;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px gray;
  margin: 10px 10px;
  border-radius: 5px;
  font-size: small;
  border: none;
}
.delCancel:hover {
  background: rgb(180, 240, 61);
}
.delOk:hover {
  background: yellowgreen;
}
/* Auxiliaries End Here */
